{{#if keycombo.shiftKey}}
  <span class="hotkey-key">
    Shift
  </span>
  +
{{/if}}

{{#if keycombo.altKey}}
  <span class="hotkey-key">
    Alt
  </span>
  +
{{/if}}

{{#if keycombo.ctrlKey}}
  <span class="hotkey-key">
    Ctrl
  </span>
  +
{{/if}}

<span class="hotkey-key">{{keycombo.key}}</span>
