<div class="container-fluid">
  <div class="row">
    <div class="col">
      <span class="h3">
        Andre moduler
      </span>
    </div>
  </div>

  <hr>
  <p>Dette er RUSK-moduler som ikke har innstillinger/hurtigtaster - alt du kan gjøre med dem er å skru dem av og på.
  </p>
  <hr>

  <div>

    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Modul</th>
          <th class="thcenter" scope="col">Av/på</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedModules as |mod|}}
        <tr>
          <td class="configLabel">
            {{mod.moduleName}}<br>
            <small>{{mod.moduleDescription}}</small>
          </td>
          <td class="configValue" align="center">
            {{x-toggle
              value=mod.moduleEnabled
              onToggle=(action (mut mod.moduleEnabled))
              theme="light"
              size="small"
            }}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>