npm-debug.log
.DS_Store
node_modules/
dist/js
tmp/

# Area where zip/crx files should eventually be put when generated
publish/

package-lock.json

# Generert code coverage fra jest testing

coverage
