@import 'reset-rbkweb.css';
@import 'pagelayout.css';
@import 'colorsettings.css';
@import 'hotkeys.css';
@import 'symbolcolors.css';

li.flex-inline {
  display: inline-flex;
}

th.thcenter {
  text-align: center;
}

td.configValue {
  vertical-align: middle;
  padding: 3px;
}
