/*
 * CSS rules dealing with color - controls, displays etc.
 */

div.colorbox {
  border: 2px solid black;
  width: 50px;
  height: 25px;
  /* background-color: lightgreen; */
}

div.colorsplotch {
  border: 2px solid black;
  width: 1em;
  height: 1em;
  margin: 0.2em;
}

input[type=color] {
  border: none;
  width: 50px;
  height: 25px;
  -webkit-appearance: none;
  padding: 0px;
  /*border-radius: 0px;
  height: calc(2.0rem + 2px)!important; */
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
  width: 50px;
  height: 25px;
}
input[type="color"]::-webkit-color-swatch {
  padding: 0;
  border: 1px solid black;
  width: 50px;
  height: 25px;
}
