html, body {
  width: 100%;
  height: 100%;
}

body > div.ember-view {
  min-height: 100%;
}

div.pageLayout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  height: 100vh;
}

div.config-header {
  grid-column: 1 / span 2;
  grid-row: 1;
}

div.config-modulelist {
  grid-column: 1;
  grid-row: 2;
  overflow: auto;
}

div.config-main {
  grid-column: 2;
  grid-row: 2;
  min-height: 100%;
  overflow: auto;
}

div.config-footer {
  grid-column: 1 / span 2;
  grid-row: 3;
  padding: 1em 0px;
}

div.config-footer button {
  margin: 0px 5px;
}

a.closebutton {
  position: fixed;
  top: 5px;
  right: 5px;
}

a.closebutton i {
  color: #FF0000;
}
